snippet todo "TODO"
-- TODO(thlorenz): $0
endsnippet

snippet hdr "header comment"
-- -----------------
-- $1
-- -----------------
endsnippet

snippet li "ignore lint"
-- luacheck:ignore $1
endsnippet
